__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env
.env
.git
.gitignore
.vscode
.idea
tests
uploads
alembic/__pycache__
app/__pycache__
app/api/__pycache__
app/core/__pycache__
app/crud/__pycache__
app/db/__pycache__
app/models/__pycache__
app/schemas/__pycache__
